<!doctype html>
<html>
  <head>
    <title>Babble</title>
    <style>
      body {
        min-width: 400px;
        overflow-x: hidden;
      }
    </style>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <link href="static/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="static/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

   
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" ><h2>Log In</h2></font></a>
          <br>
          <!---login html -->
	  <br>
	  <br>
	  <br>
          <form class="form-inline" method="get" action="">
    <input type="text" class="input-small" placeholder="Username" name="username">
    <input type="password" class="input-small" placeholder="Password" name="password">
    <button type="submit" class="btn" name="login">Sign in</button>
    </form>
      <h4>or <a href="/register">register</a></h4>
      	
          <div class="nav-collapse collapse">
            <ul class="nav">
    <li><a href="/"><i class="icon-home
      icon-home"></i>
        Home</a></li>
        <li><a href="/profile"><i class="icon-user icon-grey"></i>
        Profile</a></li>
        <li><a href="/about"><i class="icon-eye-open
      icon-eye-open"></i>
        About</a></li>
         <li><a href="/contact"><i class="icon-info-sign
      icon-info-sign"></i>
        Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap-transition.js"></script>
    <script src="static/js/bootstrap-alert.js"></script>
    <script src="static/js/bootstrap-modal.js"></script>
    <script src="static/js/bootstrap-dropdown.js"></script>
    <script src="static/js/bootstrap-scrollspy.js"></script>
    <script src="static/js/bootstrap-tab.js"></script>
    <script src="static/js/bootstrap-tooltip.js"></script>
    <script src="static/js/bootstrap-popover.js"></script>
    <script src="static/js/bootstrap-button.js"></script>
    <script src="static/js/bootstrap-collapse.js"></script>
    <script src="static/js/bootstrap-carousel.js"></script>
    <script src="static/js/bootstrap-typeahead.js"></script>

  </body>
</html>

    <!--
      - JavaScript and HTML must be in separate files: see our Content Security
      - Policy documentation[1] for details and explanation.
      -
      - [1]: http://developer.chrome.com/extensions/contentSecurityPolicy.html
     -->
   <!-- <script src="popup.js"></script> -->
  </head>
  <body>
	<p id="hi"></p>

    <script src="popup.js"></script>

  </body>
</html>

